.nav {
	margin-bottom: 10%;
}
.active,nav ul li a:hover
{
	color: green;
}
.program
{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}
.container{
	margin-top: 10px;
}
/*header{*/
/*	height: 80px;*/
/*	box-shadow: 2px 2px 2px #ccc;*/
/*	position: fixed;*/
/*	z-index: 999;*/
/*	background: #fff;*/
/*	width: 100%;*/
/*}*/


.container{
	width: 100%;
	 margin: auto;
}
/*.slider img{*/
/*	width: 100%*/
/*}*/
/*.logo{*/
/*	padding-top: 25px;*/
/*	float: left;*/
/*	text-transform: uppercase;*/
/*	font-size: 25px;*/
/*	color: green;*/
/*}*/
/*nav{*/
/*	float: right;*/
/*}*/
/*nav ul{*/
/*	list-style: none;*/
/*	padding-top: 30px;*/
/*}*/
/*nav ul li{*/
/*	display: inline-block;*/
/*}*/
/*.mero{*/
/*		color: gray;*/
/*}*/
/*nav  ul input[type=text] {*/
/*  float: right;*/
/*  */
/*  border: none;*/
/*  padding-bottom: 5px;*/
/*  margin-right:30px;*/
/*  font-size: 17px;*/
/*  border: 1px solid #ccc;*/
/*}*/


/*nav ul li a*/
/*{*/
/*	*/
/*	text-decoration: none;*/
/*	color: gray;*/
/*    padding:10px;*/
/*	font-weight: bold;*/
/*	font-size:17px;*/
/*}*/

/*.program h2*/
/*{*/
/*	color:green;*/
/*	text-transform: uppercase;*/
/*	padding-bottom: 10px;*/
/*}*/
/*.small*/
/*{*/
/*	width: 130px;*/
/*	height: 1px;*/
/*	background: #909090;*/
/*	margin: 20px auto;*/
/*}*/
/*.program img*/
/*{*/
/*	margin: 10px;*/
/*}*/

/*.one*/
/*{*/
/*	width: 30%;*/
/*	height: 280px;*/
/*	float: left;*/
/*	position: relative;*/
/*	margin: 15px;*/
/*}*/

img
{
	width: 100px;
	height:100px;
}
/*.title*/
/*{*/
/*	position: absolute;*/
/*	top: 70%;*/
/*	left: 10%;*/
/*	background: rgba(0,0,0,0.3);*/
/*	color: #fff;*/
/*	padding:15px;*/
/*	display: none;*/
/*	*/
/*}*/

/*.one:hover .title*/
/*{*/
/*display: block;*/
/*}*/

/*.team*/
/*{*/
/*background:white;*/

/*overflow: hidden;*/
/*color: #B9B8B8;*/
/*padding-top: 50px;*/
/*padding-bottom: 50px;*/
/*text-align: center;*/
/*}*/

/*.team h2*/
/*{*/
/*	color: green;*/
/*	padding-bottom: 25px;*/
/*}*/


/*.team .name{*/
/*	font-size: 15px;*/
/*	color: gray;*/
/*	padding-top: 25px;*/
/*}*/