
{% extends "psd/base.html" %}

{% load static %}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#	#}
{#	#}
{#	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
{#</head>#}

{% block content %}

        <div class="container">
        
            <div class="container-fluid">
                <img src=" {% static 'psd/image/max1.jpg' %}" />
            </div>
        
        
        <div class="container-fluid">
          
                               <h2>EASY PARKING</h2>
                               <p>We, make parking easy by making it systematic and efficient .</p>
        
                               <div class="small">   </div>
                                 <div class="one">
                                    <img src="{% static 'psd/image/A.jpg' %}">
                                    <div class="title"> <h3>systematic arrangement  </h3>
                                        </div>
                                            </div>
        
        
                                    <div class="one">
                                    <img src="{% static 'psd/image/B.jpg' %}">
                                      <div class="title"> <h3>Parking space coordinate</h3></div>
                                        </div>
        
                                            <div class="one">
                                                <img src="{% static 'psd/image/land.jpg' %}">
                                                <div class="title"> <h3>HELLO NEPAL</h3></div>
                                                    </div>
                                                
                                                            </div>
                                                                                          
        
        </div>
        
        
        <div class="team">
            <div class="container">
            <h2>	TEAM MEMBER</h2>
        
        <div class="one">
                        <img src="{% static 'psd/image/mini.jpg' %}">
                            <div class="name">Mini Maharjan</div>																			
                            </div>
        
        
        
           <div class="one">
            <img src="{% static 'psd/image/akshata.jpg' %}">
             <div class="name">Akshata Pradhan</div>
               </div>
                                                                                                    
        
                                <div class="one">
                                    <img src="psd/image/everest.jpg">
                                    <div class="name">Akshata Pradhan</div>
                                        </div>
            </div>
        
        </div>
            
{% endblock content %}
</html>