{% extends "psd/base.html" %}
{% block content %}
<h1>
    parking space detection video !!!
</h1>
<header>
    <div class="container"> 
            <div class="logo">
                Parking space detection
             </div>
                    

                        
                                    <nav>
                        
                                    <ul>
    
                                        <li class="active"><a href="#">Home</a></li>
                                        <li><a href="code/">Code</a></li>
                                        <li><a href="video/">Video</a></li>
                                        <li><a href="team/">Team</a></li>
                                        <input type="text" placeholder="......">
                                
                                        <a href="#"><i class="fa fa-search mero"></i></a> 
                                  
                             
                                    </ul>
                           
                    </nav>
    </div>
    </header>
{% endblock content %}